<!DOCTYPE html>
<html lang="en">
<title>Моя страница</title>
<meta charset="utf-8">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
</head>
<body>
<h1>{{name}}</h1>
<img src="https://upload.wikimedia.org/wikipedia/ru/thumb/a/af/Логотип_Пневмослон.png/274px-Логотип_Пневмослон.png"
     alt="Фотография группы">
<p><strong>{{name}}</strong> - российская андеграунд ска-панк-группа,
    созданная в 2017 году в Санкт-Петербурге Олегом Степановым и Романом Батарейкиным.
    Группа является сайд-проектом группы Нейромонах Феофан.</p>
<p><strong>Содержание</strong></p>
<ol>

    <li><a href="#structure">Состав</a></li>
    <li><a href="#features">Особенности</a></li>
    <li><a href="#history">История</a></li>
    <li><a href="#discography">Дискография</a></li>
    <li><a href="#notes">Примечания</a></li>
</ol>
<h2><a id="structure">Состав</a></h2>
<ul>
    <li>Олег Степанов</li>
    <li>Ася Зеленая</li>
    <li>Роман Батарейкин</li>
    <li>Илья Благовещенский</li>
    <li>Даниил Светлов</li>
    <li>Илья Борисов</li>
    <li>И кто-то еще</li>
</ul>
<h2 id="features">Особенности</h2>
<p>Песни содержат множество нецензурных выражений и рассчитаны на аудиторию 18+.
    По мнению Степанова, песни группы имеют психотерапевтический эффект,
    а концерты помогают избавиться от негативных эмоций</p>
<h2 id="history">История</h2>
<div>
    <p>С 2014 года Олег Степанов стал сочинять песни, которые не укладывались в концепцию
        «Нейромонаха Феофана». Придумав себе псевдоним Лорд Пневмослон,
        он стал рассылать такие песни по радиостанциям Санкт-Петербурга.<br><br>В 2017 году Лорд познакомился с Романом Батарейкиным,
        взявшим себе псевдоним «Борис Буткеев».
        Он был фанатом творчества Степанова и занимался организацией концертов.
        Батарейкин предложил Лорду Пневмослону основать совместный проект.</p>
    <p>29 октября 2017 года вышел дебютный мини-альбом «Уже 5 минут как весело».</p>
    <p>24 апреля 2018 «Пневмослон» выпустил первый полноценный альбом «Контрэволюция.
        Часть 1», состоящий из 13 композиций</p>
    <p>В 2018 году Батарейкин покинул группу, а на его место пришла вокалистка <i>Ася Зелёная</i>.</p>
    <p>В 2019 году группа стала участником фестиваля «Нашествие».</p>
    <p>Проект должен был выступать на Доброфесте в 2020 и в 2021 годах,
        но фестиваль был перенесён из-за пандемии. В итоге группа выступила на Доброфесте в 2022[7] и,
        по итогам фестиваля,
        победила в двух номинациях: «Открытие Года» и «Лучшее выступление на Красной сцене».</p>
    <p>Пневмослон является четырехкратным лауреатом премии «Чартова Дюжина» Нашего радио.
        В 2020 и 2021 годах — в номинации «Side-проект», в 2022 — «Группа»,
        в 2023 - в номинации "Альбом Года"</p>
    <p>Песня «Думаю на шаг вперед» из альбома «Запутай след» заняла 7-е место в итоговом хит-параде
        Чартовой дюжины за 2021 год</p>
</div>
<h2 id="discography">Дискография</h2>
<h3><strong>Альбомы</strong></h3>
<ul>
    <li>2018 — «Контрэволюция. Часть 1»</li>
    <li>2019 — «Контрэволюция. Часть 2»</li>
    <li>2019 — «Зуб известного человека»</li>
    <li>2021 — «Запутай след»</li>
    <li>2022 — «В душе не ебу»</li>
</ul>
<h3><strong>Синглы и мини-альбомы</strong></h3>
<ul>
    <li>2017 — «Уже пять минут как весело»</li>
    <li>2018 — «Питер, шизи на вираже»</li>
    <li>2018 — «Разящая рука»</li>
    <li>2021 — «Добрая девочка»</li>
    <li>2021 — «Блядь»</li>
    <li>2021 — «Думаю на шаг вперед»</li>
    <li>2021 — «Выборы в дурке»</li>
    <li>2021 — «Одинокие люди»</li>
    <li>2023 — «Бетономешалка» <u>(feat Сергей Любавин)</u></li>
    <li>2023 — «Бабушка»</li>
</ul>
<h2 id="notes">Примечания</h2>
<p><mark>Что-то на Японском... <del>Кошка-девочки</del> и миска риса.</mark>..</p>
<footer>
    <p>Статья-источник: <a href="https://ru.wikipedia.org/wiki/Пневмослон#Особенности">ссылка с wikipedia</a></p>
</footer>
</body>
</html>