body{
    font-family: 'Arial';
	font-size: 18px;
	color: rgb(0, 0, 0);
	background: #838b96
}

img{
    width: 450px;
    height: 450px;
    border-radius: 20%;
}

b{
    color: #239784;
}

p{
    text-indent: 5%;
}

li{
    font-family: fantasy;
    color: #00000098;
    border-style: solid;
    border-width: 10px;
    border-radius: 10%;
}

a{
    text-decoration: none;
   letter-spacing: 1px;
   font-size: 24px;
   font-family: 'Fredoka One', cursive;
}

.ref {
    color: #58adc7da;
    text-shadow: 1px 1px black;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
 }
 .ref:hover {
    color: #8648c0;
    border-bottom: 2px solid #8648c0;
    box-shadow: 0 1px 0 white, 0 2px 0 #969696;
 }

#index_center_position{
    text-align: center
}

.headings{
    color: #131415;
}

.content{
    display: flex;
    margin: 5%;
}

.content-left{
    width: 50%;
    padding: 7%;
    background: #cedaec;
    color: #25282b;
    border-radius: 15%;
}

.content-right{
    background: #131415;
    margin-left: 2%;
    padding: 5%;
    padding-top: 50%;
    border-radius: 15%;
}

