#game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}

body {
  display: flex;
}

.controls {
  flex-grow: 1;
}

#joystick {
  width: 150px;
  height: 150px;
  margin-left: 5%;
  margin-top: 5%;
  border: 2px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  width: 50px;
  height: 50px;
  background-color: #6b5f5f64;
  border: none;
}

.button:hover {
  background-color: #999;
}

#up {
  align-self: center;
}

#down {
  align-self: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#score {
  position: fixed;
  top: 2px;
  left: 45%;
}

.menu {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

.field{
  width: 100px;
  padding:5px;
}
